{% extends "auctions/layout.html" %}

{% load humanize %}

{% block body %}
    <h2>Categories</h2>
    <hr>
    <div class="row">
        {% for category in categories %}
            <div class="col-md-4 mb-3">
                <a href="{% url 'filtered' category=category.category%}" class="card clickable-card">
                    <div class="card-body">
                        <h5 class="card-title">{{ category.category }}</h5>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
