{% extends "auctions/layout.html" %}

{% load humanize %}

{% block body %}
    <h2>Active Listings</h2>
    <hr>
    <div class="row">
        {% if listings %}
        {% for listing in listings %}
        <a class="col-12 mb-4" style="color: black;" href="{% url 'listing_details' listing_id=listing.id listing_title=listing.title|slugify %}">
            <div class="card">
                <div class="row">
                    {% if listing.url %}
                    <div class="col-md-2">
                        <img src="{{ listing.url }}" class="card-img" alt="{{ listing.title }}">
                    </div>
                    
                    <div class="col-md-10">
                    {% else %}
                    <div class="col-md-12">
                    {% endif %}
                        <div class="card-body">
                            <h4 class="card-title">{{ listing.title|capfirst }}</h4>
                            <hr>
                            <p class="card-text mb-3">{{ listing.description|capfirst }}</p>
                            <p class="card-text">Category: {{ listing.category }}</p>
                            <hr>
                            <p class="card-text">Bid: ${{ listing.current_bid|intcomma }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
        {% else %}
        <div class="col-md-10">
            <h3 class="card-title">There's no active listings right now</h3>
        </div>
        {% endif %}
    </div>
{% endblock %}
